@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Noto+Sans+JP:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

/*
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;
*/